In [1]:
import pandas as pd
import numpy as np

In [2]:
reviews = pd.read_csv('olist_order_reviews_dataset.csv')

In [3]:
reviews

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53
...,...,...,...,...,...,...,...
99219,574ed12dd733e5fa530cfd4bbf39d7c9,2a8c23fee101d4d5662fa670396eb8da,5,NaN,NaN,2018-07-07 00:00:00,2018-07-14 17:18:30
99220,f3897127253a9592a73be9bdfdf4ed7a,22ec9f0669f784db00fa86d035cf8602,5,NaN,NaN,2017-12-09 00:00:00,2017-12-11 20:06:42
99221,b3de70c89b1510c4cd3d0649fd302472,55d4004744368f5571d1f590031933e4,5,NaN,"Excelente mochila, entrega super rápida. Super...",2018-03-22 00:00:00,2018-03-23 09:10:43
99222,1adeb9d84d72fe4e337617733eb85149,7725825d039fc1f0ceb7635e3f7d9206,4,NaN,NaN,2018-07-01 00:00:00,2018-07-02 12:59:13
99223,efe49f1d6f951dd88b51e6ccd4cc548f,90531360ecb1eec2a1fbb265a0db0508,1,NaN,"meu produto chegou e ja tenho que devolver, po...",2017-07-03 00:00:00,2017-07-03 21:01:49

In [4]:
reviews['order_id'].duplicated().sum()

np.int64(551)

In [5]:
orders = pd.read_csv('olist_orders_dataset.csv')

In [6]:
orders

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00
...,...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28 00:00:00
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02 00:00:00
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27 00:00:00
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00

In [7]:
orders['order_id'].duplicated().sum()

np.int64(0)

In [8]:
payments = pd.read_csv('olist_order_payments_dataset.csv')

In [9]:
payments

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45
...,...,...,...,...,...
103881,0406037ad97740d563a178ecc7a2075c,1,boleto,1,363.31
103882,7b905861d7c825891d6347454ea7863f,1,credit_card,2,96.80
103883,32609bbb3dd69b3c066a6860554a77bf,1,credit_card,1,47.77
103884,b8b61059626efa996a60be9bb9320e10,1,credit_card,5,369.54
103885,28bbae6599b09d39ca406b747b6632b1,1,boleto,1,191.58

In [10]:
payments['order_id'].duplicated().sum()

np.int64(4446)

In [11]:
items = pd.read_csv('olist_order_items_dataset.csv')
items

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14
...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79

In [12]:
items['order_id'].duplicated().sum()

np.int64(13984)

In [13]:
customers = pd.read_csv('olist_customers_dataset.csv')
customers

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP
...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP

In [14]:
orders['customer_id'].duplicated().sum()

np.int64(0)

In [15]:
customers['customer_id'].duplicated().sum()

np.int64(0)

In [16]:
customers['customer_zip_code_prefix'].duplicated().sum()

np.int64(84447)

In [17]:
location = pd.read_csv('olist_geolocation_dataset.csv')
location

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP
...,...,...,...,...,...
1000158,99950,-28.068639,-52.010705,tapejara,RS
1000159,99900,-27.877125,-52.224882,getulio vargas,RS
1000160,99950,-28.071855,-52.014716,tapejara,RS
1000161,99980,-28.388932,-51.846871,david canabarro,RS
1000162,99950,-28.070104,-52.018658,tapejara,RS

In [18]:
location['geolocation_zip_code_prefix'].duplicated().sum()

np.int64(981148)

In [19]:
sellers = pd.read_csv('olist_sellers_dataset.csv')
sellers

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP
...,...,...,...,...
3090,98dddbc4601dd4443ca174359b237166,87111,sarandi,PR
3091,f8201cab383e484733266d1906e2fdfa,88137,palhoca,SC
3092,74871d19219c7d518d0090283e03c137,4650,sao paulo,SP
3093,e603cf3fec55f8697c9059638d6c8eb5,96080,pelotas,RS
3094,9e25199f6ef7e7c347120ff175652c3b,12051,taubate,SP

In [20]:
sellers['seller_zip_code_prefix'].duplicated().sum()

np.int64(849)

In [21]:
items['seller_id'].duplicated().sum()

np.int64(109555)

In [22]:
sellers['seller_id'].duplicated().sum()

np.int64(0)

In [23]:
products = pd.read_csv('olist_products_dataset.csv')
products

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0
...,...,...,...,...,...,...,...,...,...
32946,a0b7d5a992ccda646f2d34e418fff5a0,moveis_decoracao,45.0,67.0,2.0,12300.0,40.0,40.0,40.0
32947,bf4538d88321d0fd4412a93c974510e6,construcao_ferramentas_iluminacao,41.0,971.0,1.0,1700.0,16.0,19.0,16.0
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,cama_mesa_banho,50.0,799.0,1.0,1400.0,27.0,7.0,27.0
32949,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,60.0,156.0,2.0,700.0,31.0,13.0,20.0
32950,106392145fca363410d287a815be6de4,cama_mesa_banho,58.0,309.0,1.0,2083.0,12.0,2.0,7.0

In [24]:
items['product_id'].duplicated().sum()

np.int64(79699)

In [25]:
products['product_id'].duplicated().sum()

np.int64(0)

In [26]:
reviews.isnull().sum()

review_id                      0
order_id                       0
review_score                   0
review_comment_title       87656
review_comment_message     58247
review_creation_date           0
review_answer_timestamp        0
dtype: int64

In [27]:
items.isnull().sum()

order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

In [28]:
products.isnull().sum()

product_id                      0
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

In [29]:
sellers.isnull().sum()

seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64

In [30]:
location.isnull().sum()

geolocation_zip_code_prefix    0
geolocation_lat                0
geolocation_lng                0
geolocation_city               0
geolocation_state              0
dtype: int64

In [31]:
customers.isnull().sum()

customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

In [32]:
orders.isnull().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

In [33]:
payments.isnull().sum()

order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

In [34]:
products.dropna(subset=['product_description_lenght'], inplace=True)

In [35]:
products.dropna(subset=['product_width_cm'], inplace=True)

In [36]:
products.isnull().mean()*100

product_id                    0.0
product_category_name         0.0
product_name_lenght           0.0
product_description_lenght    0.0
product_photos_qty            0.0
product_weight_g              0.0
product_length_cm             0.0
product_height_cm             0.0
product_width_cm              0.0
dtype: float64

In [37]:
products_translated = pd.read_csv('product_category_name_translation.csv')

In [38]:
products = products.merge(products_translated[['product_category_name', 'product_category_name_english']],on='product_category_name',how='left')

In [39]:
# Replace the original column with the English one where available
products['product_category_name'] = products['product_category_name_english'].combine_first(products['product_category_name'])

In [40]:
# Drop the extra column
products.drop(columns=['product_category_name_english'], inplace=True)

In [41]:
orders['order_delivered_carrier_date'] = pd.to_datetime(orders['order_delivered_carrier_date'])
orders['order_delivered_customer_date'] = pd.to_datetime(orders['order_delivered_customer_date'])
orders['order_estimated_delivery_date'] = pd.to_datetime(orders['order_estimated_delivery_date'])
orders.dtypes

order_id                                 object
customer_id                              object
order_status                             object
order_purchase_timestamp                 object
order_approved_at                        object
order_delivered_carrier_date     datetime64[ns]
order_delivered_customer_date    datetime64[ns]
order_estimated_delivery_date    datetime64[ns]
dtype: object

In [42]:
items["shipping_limit_date"] = pd.to_datetime(items["shipping_limit_date"])
items.dtypes

order_id                       object
order_item_id                   int64
product_id                     object
seller_id                      object
shipping_limit_date    datetime64[ns]
price                         float64
freight_value                 float64
dtype: object

In [43]:
items = pd.merge( left = items, right = products, how = "left", on = 'product_id' )
items

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,pet_shop,56.0,239.0,2.0,30000.0,50.0,30.0,40.0
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,furniture_decor,59.0,695.0,2.0,3050.0,33.0,13.0,33.0
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,perfumery,42.0,480.0,1.0,200.0,16.0,10.0,15.0
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,garden_tools,59.0,409.0,1.0,3750.0,35.0,40.0,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41,housewares,43.0,1002.0,3.0,10150.0,89.0,15.0,40.0
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53,computers_accessories,31.0,232.0,1.0,8950.0,45.0,26.0,38.0
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95,sports_leisure,43.0,869.0,1.0,967.0,21.0,24.0,19.0
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72,computers_accessories,56.0,1306.0,1.0,100.0,20.0,20.0,20.0
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79,bed_bath_table,47.0,511.0,1.0,600.0,30.0,3.0,19.0

In [44]:
items = items.drop(columns=['product_name_lenght','product_description_lenght','product_photos_qty'])
items

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,cool_stuff,650.0,28.0,9.0,14.0
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,pet_shop,30000.0,50.0,30.0,40.0
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,furniture_decor,3050.0,33.0,13.0,33.0
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,perfumery,200.0,16.0,10.0,15.0
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,garden_tools,3750.0,35.0,40.0,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41,housewares,10150.0,89.0,15.0,40.0
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53,computers_accessories,8950.0,45.0,26.0,38.0
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95,sports_leisure,967.0,21.0,24.0,19.0
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72,computers_accessories,100.0,20.0,20.0,20.0
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79,bed_bath_table,600.0,30.0,3.0,19.0

In [45]:
items[items['product_category_name'].isna()]

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm
123,0046e1d57f4c07c8c92ab26be8c3dfc0,1,ff6caf9340512b8bf6d2a2a6df032cfa,38e6dada03429a47197d5d584d793b41,2017-10-02 15:49:17,7.79,7.78,NaN,NaN,NaN,NaN,NaN
125,00482f2670787292280e0a8153d82467,1,a9c404971d1a5b1cbc2e4070e02731fd,702835e4b785b67a084280efca355756,2017-02-17 16:18:07,7.60,10.96,NaN,NaN,NaN,NaN,NaN
132,004f5d8f238e8908e6864b874eda3391,1,5a848e4ab52fd5445cdc07aab1c40e48,c826c40d7b19f62a09e2d7c5e7295ee2,2018-03-06 09:29:25,122.99,15.61,NaN,NaN,NaN,NaN,NaN
142,0057199db02d1a5ef41bacbf41f8f63b,1,41eee23c25f7a574dfaf8d5c151dbb12,e5a3438891c0bfdb9394643f95273d8e,2018-01-25 09:07:51,20.30,16.79,NaN,NaN,NaN,NaN,NaN
171,006cb7cafc99b29548d4f412c7f9f493,1,e10758160da97891c2fdcbc35f0f031d,323ce52b5b81df2cd804b017b7f09aa7,2018-02-22 13:35:28,56.00,14.14,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
112306,ff24fec69b7f3d30f9dc1ab3aee7c179,1,5a848e4ab52fd5445cdc07aab1c40e48,c826c40d7b19f62a09e2d7c5e7295ee2,2018-02-01 02:40:12,122.99,15.61,NaN,NaN,NaN,NaN,NaN
112333,ff3024474be86400847879103757d1fd,1,f9b1795281ce51b1cf39ef6d101ae8ab,3771c85bac139d2344864ede5d9341e3,2017-11-21 03:55:39,39.90,9.94,NaN,NaN,NaN,NaN,NaN
112350,ff3a45ee744a7c1f8096d2e72c1a23e4,1,b61d1388a17e3f547d2bc218df02335b,07017df32dc5f2f1d2801e579548d620,2017-05-10 10:15:19,139.00,21.42,NaN,NaN,NaN,NaN,NaN
112438,ff7b636282b98e0aa524264b295ed928,1,431df35e52c10451171d8037482eeb43,6cd68b3ed6d59aaa9fece558ad360c0a,2018-02-22 15:35:35,49.90,15.11,NaN,NaN,NaN,NaN,NaN
112501,ffa5e4c604dea4f0a59d19cc2322ac19,2,bd421826916d3e1d445cb860cea3c0fb,59cd88080b93f3c18508673122d26169,2017-12-11 08:41:20,29.99,15.10,NaN,NaN,NaN,NaN,NaN

In [46]:
products[products['product_id'] == 'ffa5e4c604dea4f0a59d19cc2322ac19']

Empty DataFrame
Columns: [product_id, product_category_name, product_name_lenght, product_description_lenght, product_photos_qty, product_weight_g, product_length_cm, product_height_cm, product_width_cm]
Index: []

In [47]:
items

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,cool_stuff,650.0,28.0,9.0,14.0
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,pet_shop,30000.0,50.0,30.0,40.0
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,furniture_decor,3050.0,33.0,13.0,33.0
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,perfumery,200.0,16.0,10.0,15.0
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,garden_tools,3750.0,35.0,40.0,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41,housewares,10150.0,89.0,15.0,40.0
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53,computers_accessories,8950.0,45.0,26.0,38.0
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95,sports_leisure,967.0,21.0,24.0,19.0
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72,computers_accessories,100.0,20.0,20.0,20.0
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79,bed_bath_table,600.0,30.0,3.0,19.0

In [48]:
items.isnull().mean()

order_id                 0.000000
order_item_id            0.000000
product_id               0.000000
seller_id                0.000000
shipping_limit_date      0.000000
price                    0.000000
freight_value            0.000000
product_category_name    0.014239
product_weight_g         0.014239
product_length_cm        0.014239
product_height_cm        0.014239
product_width_cm         0.014239
dtype: float64

In [49]:
items.dropna(subset=['product_category_name'], inplace=True)
items.isnull().sum()

order_id                 0
order_item_id            0
product_id               0
seller_id                0
shipping_limit_date      0
price                    0
freight_value            0
product_category_name    0
product_weight_g         0
product_length_cm        0
product_height_cm        0
product_width_cm         0
dtype: int64

In [50]:
items.columns

Index(['order_id', 'order_item_id', 'product_id', 'seller_id',
       'shipping_limit_date', 'price', 'freight_value',
       'product_category_name', 'product_weight_g', 'product_length_cm',
       'product_height_cm', 'product_width_cm'],
      dtype='object')

In [248]:
# Chargeable_Weight = []
# if items['product_weight_g']/1000 > (items['product_length_cm'] * items['product_width_cm'] * items['product_height_cm']) /5000:
#     Chargeable_Weight.append(items['product_weight_g']/1000)
# else:
#     Chargeable_Weight.append((items['product_length_cm'] * items['product_width_cm'] * items['product_height_cm']) /5000)
# items['Chargeable_Weight'] = Chargeable_Weight

In [249]:
# Actual weight in kg
items['actual_kg'] = items['product_weight_g'] / 1000

# Volumetric weight
items['volumetric_kg'] = (
    items['product_length_cm'] *
    items['product_width_cm'] *
    items['product_height_cm']
) / 5000

# Chargeable weight = max of the two for each row
items['Chargeable_Weight'] = items[['actual_kg', 'volumetric_kg']].max(axis=1)

In [250]:
items

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm,actual_kg,volumetric_kg,Chargeable_Weight
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,cool_stuff,650.0,28.0,9.0,14.0,0.650,0.7056,0.7056
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,pet_shop,30000.0,50.0,30.0,40.0,30.000,12.0000,30.0000
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,furniture_decor,3050.0,33.0,13.0,33.0,3.050,2.8314,3.0500
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,perfumery,200.0,16.0,10.0,15.0,0.200,0.4800,0.4800
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,garden_tools,3750.0,35.0,40.0,30.0,3.750,8.4000,8.4000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41,housewares,10150.0,89.0,15.0,40.0,10.150,10.6800,10.6800
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53,computers_accessories,8950.0,45.0,26.0,38.0,8.950,8.8920,8.9500
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95,sports_leisure,967.0,21.0,24.0,19.0,0.967,1.9152,1.9152
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72,computers_accessories,100.0,20.0,20.0,20.0,0.100,1.6000,1.6000
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79,bed_bath_table,600.0,30.0,3.0,19.0,0.600,0.3420,0.6000

In [64]:
items[items['product_id'] == '8038040ee2a71048d4bdbbdc985b69ab']

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm,shipping_rate($/kg)
32984,4abc7b5330425bcf9c2f7f48151a88c0,1,8038040ee2a71048d4bdbbdc985b69ab,b39d7fe263ef469605dbb32608aee0af,2018-08-09 21:31:33,129.9,14.49,bed_bath_table,0.0,30.0,25.0,30.0,inf

In [65]:
# Calculate the average weight for 'bed_bath_table', excluding zeros
avg_weight = items.loc[
    (items['product_category_name'] == 'bed_bath_table') & (items['product_weight_g'] > 0),
    'product_weight_g'
].mean()

# Replace zeros with that average only for that category
items.loc[
    (items['product_category_name'] == 'bed_bath_table') & (items['product_weight_g'] == 0),
    'product_weight_g'
] = avg_weight

In [66]:
items['shipping_rate($/kg)'] = items['freight_value'] / (items['product_weight_g']/1000)
shipping_rate = items['shipping_rate($/kg)'].mean()
shipping_rate

np.float64(39.56192314726713)

In [67]:
items

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm,shipping_rate($/kg)
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,cool_stuff,650.0,28.0,9.0,14.0,20.446154
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,pet_shop,30000.0,50.0,30.0,40.0,0.664333
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,furniture_decor,3050.0,33.0,13.0,33.0,5.859016
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,perfumery,200.0,16.0,10.0,15.0,63.950000
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,garden_tools,3750.0,35.0,40.0,30.0,4.837333
...,...,...,...,...,...,...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41,housewares,10150.0,89.0,15.0,40.0,4.276847
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53,computers_accessories,8950.0,45.0,26.0,38.0,4.081564
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95,sports_leisure,967.0,21.0,24.0,19.0,17.528438
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72,computers_accessories,100.0,20.0,20.0,20.0,87.200000
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79,bed_bath_table,600.0,30.0,3.0,19.0,21.316667

In [68]:
products

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumery,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,art,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,sports_leisure,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,baby,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,housewares,37.0,402.0,4.0,625.0,20.0,17.0,13.0
...,...,...,...,...,...,...,...,...,...
32335,a0b7d5a992ccda646f2d34e418fff5a0,furniture_decor,45.0,67.0,2.0,12300.0,40.0,40.0,40.0
32336,bf4538d88321d0fd4412a93c974510e6,construction_tools_lights,41.0,971.0,1.0,1700.0,16.0,19.0,16.0
32337,9a7c6041fa9592d9d9ef6cfe62a71f8c,bed_bath_table,50.0,799.0,1.0,1400.0,27.0,7.0,27.0
32338,83808703fc0706a22e264b9d75f04a2e,computers_accessories,60.0,156.0,2.0,700.0,31.0,13.0,20.0
32339,106392145fca363410d287a815be6de4,bed_bath_table,58.0,309.0,1.0,2083.0,12.0,2.0,7.0

In [69]:
orders

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26
...,...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03

In [70]:
items.to_csv('items1.csv',index=False)

In [83]:
sorted(location['geolocation_state'].unique())

['AC',
 'AL',
 'AM',
 'AP',
 'BA',
 'CE',
 'DF',
 'ES',
 'GO',
 'MA',
 'MG',
 'MS',
 'MT',
 'PA',
 'PB',
 'PE',
 'PI',
 'PR',
 'RJ',
 'RN',
 'RO',
 'RR',
 'RS',
 'SC',
 'SE',
 'SP',
 'TO']

In [80]:
location

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP
...,...,...,...,...,...
1000158,99950,-28.068639,-52.010705,tapejara,RS
1000159,99900,-27.877125,-52.224882,getulio vargas,RS
1000160,99950,-28.071855,-52.014716,tapejara,RS
1000161,99980,-28.388932,-51.846871,david canabarro,RS
1000162,99950,-28.070104,-52.018658,tapejara,RS

In [99]:
# Group by product_id and count unique seller_ids for each
multi_seller_products = (
    items.groupby('product_id')['seller_id']
    .nunique()
    .reset_index()
)

# Filter only those sold by more than one seller
multi_seller_products = multi_seller_products[multi_seller_products['seller_id'] > 1]

# Optional: get just the list of product_ids
multi_seller_product_ids = multi_seller_products['product_id'].unique()

multi_seller_product_ids = pd.DataFrame(multi_seller_product_ids)
multi_seller_product_ids

                                     0
0     00f179926ae5965cd6ff548d765d8a61
1     00f8c37377b038c9c791128d2f928111
2     00fefaf41156bb4b0d850fb27da97897
3     013e6676e0e3529e5909ff54370daddf
4     0168e1b28d8e55a515928cf656eff0a4
...                                ...
1220  ffaf0af7eebb57c7f262b51ebb05dfd6
1221  ffb97eb64c6fe1baada2410288c04457
1222  ffc9caf33e2d1e9f44e3e06da19085f7
1223  ffd2365fb8224dc66883df9351d65deb
1224  ffd34459c21034d1da6df9800de0d7a3

[1225 rows x 1 columns]

In [94]:
items[items['product_id'] == '0f9dbdf3289052ac7406ba5bc1b0dbc4']

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm,shipping_rate($/kg)
23776,363177bc6f8d8d0c551b5b623bad4381,1,0f9dbdf3289052ac7406ba5bc1b0dbc4,d921b68bf747894be13a97ae52b0f386,2018-08-02 17:04:21,164.9,19.25,watches_gifts,250.0,18.0,14.0,18.0,77.00
31810,4824fef8a9f66256c9eb0c7682363932,1,0f9dbdf3289052ac7406ba5bc1b0dbc4,d921b68bf747894be13a97ae52b0f386,2018-07-23 23:02:29,164.9,19.25,watches_gifts,250.0,18.0,14.0,18.0,77.00
43783,637cd939e435a194d562522d5bdc0d84,1,0f9dbdf3289052ac7406ba5bc1b0dbc4,d921b68bf747894be13a97ae52b0f386,2018-08-07 23:50:13,164.9,19.25,watches_gifts,250.0,18.0,14.0,18.0,77.00
107779,f4efa4faef71d2d5292f202ba37bbd4a,1,0f9dbdf3289052ac7406ba5bc1b0dbc4,fa1c13f2614d7b5c4749cbc52fecda94,2018-04-30 10:31:20,199.8,19.28,watches_gifts,250.0,18.0,14.0,18.0,77.12

In [96]:
items[items['product_id'] == '0f91b6a95a57a43203a9b17de98960d9']

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm,shipping_rate($/kg)
16577,25f1a44846759c52334309da493877c6,1,0f91b6a95a57a43203a9b17de98960d9,ef0ace09169ac090589d85746e3e036f,2018-01-08 17:34:18,119.9,14.59,health_beauty,390.0,19.0,12.0,17.0,37.410256
24387,378b4eebab6321d6b446806691615ee1,1,0f91b6a95a57a43203a9b17de98960d9,ef0ace09169ac090589d85746e3e036f,2017-11-21 10:55:33,134.9,14.69,health_beauty,390.0,19.0,12.0,17.0,37.666667
30302,44cb884118c81bf6db2f43cf11ab63d6,1,0f91b6a95a57a43203a9b17de98960d9,ef0ace09169ac090589d85746e3e036f,2018-02-22 06:55:48,119.9,17.00,health_beauty,390.0,19.0,12.0,17.0,43.589744
44419,64f0da9068715955d37b40377363ecc7,1,0f91b6a95a57a43203a9b17de98960d9,058fd0aa2bfdb2274e05e1ae971dabb6,2017-10-11 20:07:15,140.0,15.73,health_beauty,390.0,19.0,12.0,17.0,40.333333
55534,7e44fbbef1ef258486c161d0f53f2c19,1,0f91b6a95a57a43203a9b17de98960d9,289cdb325fb7e7f891c38608bf9e0962,2018-07-06 20:31:37,119.3,8.42,health_beauty,390.0,19.0,12.0,17.0,21.589744
55535,7e44fbbef1ef258486c161d0f53f2c19,2,0f91b6a95a57a43203a9b17de98960d9,289cdb325fb7e7f891c38608bf9e0962,2018-07-06 20:31:37,119.3,8.42,health_beauty,390.0,19.0,12.0,17.0,21.589744
58290,84b29272f58b0da99f8884fd87681725,1,0f91b6a95a57a43203a9b17de98960d9,ef0ace09169ac090589d85746e3e036f,2018-05-24 17:56:39,119.5,15.72,health_beauty,390.0,19.0,12.0,17.0,40.307692
68767,9d1e1148a27502fcc6fce14e7707a2a1,1,0f91b6a95a57a43203a9b17de98960d9,ef0ace09169ac090589d85746e3e036f,2018-02-13 14:10:03,119.9,15.59,health_beauty,390.0,19.0,12.0,17.0,39.974359
84923,c0fc5c6702f93ec8646c5404b4147864,1,0f91b6a95a57a43203a9b17de98960d9,289cdb325fb7e7f891c38608bf9e0962,2018-08-22 15:35:21,116.9,15.92,health_beauty,390.0,19.0,12.0,17.0,40.820513
84924,c0fc5c6702f93ec8646c5404b4147864,2,0f91b6a95a57a43203a9b17de98960d9,289cdb325fb7e7f891c38608bf9e0962,2018-08-22 15:35:21,116.9,15.92,health_beauty,390.0,19.0,12.0,17.0,40.820513
87220,c6094f6ab0c25eda761622ab09aa423d,2,0f91b6a95a57a43203a9b17de98960d9,289cdb325fb7e7f891c38608bf9e0962,2018-07-27 10:30:20,119.3,15.93,health_beauty,390.0,19.0,12.0,17.0,40.846154
89623,cb82f50adcd9978f835fe94951603fad,1,0f91b6a95a57a43203a9b17de98960d9,289cdb325fb7e7f891c38608bf9e0962,2018-08-15 08:24:21,116.9,14.16,health_beauty,390.0,19.0,12.0,17.0,36.307692
96304,da8bc2d014ed786a33f34355399d6735,1,0f91b6a95a57a43203a9b17de98960d9,ef0ace09169ac090589d85746e3e036f,2018-06-13 22:18:43,119.5,15.72,health_beauty,390.0,19.0,12.0,17.0,40.307692
101221,e5989171218c1c7948bcca1c93ec2a6b,1,0f91b6a95a57a43203a9b17de98960d9,ef0ace09169ac090589d85746e3e036f,2018-03-21 19:50:33,119.9,22.55,health_beauty,390.0,19.0,12.0,17.0,57.820513
105259,ef246b56510668886f05b8f818e7bfc9,1,0f91b6a95a57a43203a9b17de98960d9,ef0ace09169ac090589d85746e3e036f,2018-06-21 11:59:34,119.5,17.77,health_beauty,390.0,19.0,12.0,17.0,45.564103

In [100]:
payments

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45
...,...,...,...,...,...
103881,0406037ad97740d563a178ecc7a2075c,1,boleto,1,363.31
103882,7b905861d7c825891d6347454ea7863f,1,credit_card,2,96.80
103883,32609bbb3dd69b3c066a6860554a77bf,1,credit_card,1,47.77
103884,b8b61059626efa996a60be9bb9320e10,1,credit_card,5,369.54
103885,28bbae6599b09d39ca406b747b6632b1,1,boleto,1,191.58

In [104]:
payments[payments['order_id'] == 'b81ef226f3fe1789b1e8b2acac839d17']

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33

In [105]:
payments[payments['payment_installments'] == payments['payment_installments'].max()]

,order_id,payment_sequential,payment_type,payment_installments,payment_value
2970,70b7e94ea46d3e8b5bc12a50186edaf0,1,credit_card,24,274.84
10791,859f516f2fc3f95772e63c5757ab0d5b,1,credit_card,24,609.56
12307,ff36cbc44b8f228e0449c92ef089c843,1,credit_card,24,756.49
18512,2b7dbe9be72b8f9733844c31055c0825,1,credit_card,24,345.39
21713,6ae2e8b8fac02522481d2a2f4ca4412c,1,credit_card,24,433.43
23024,90f864fe19d11549fa01eb81c4dd87e3,1,credit_card,24,588.58
36088,84d2098c97827c6327ed4d7be95e1fc8,1,credit_card,24,286.78
50401,ffb18bf111fa70edf316eb0390427986,1,credit_card,24,617.24
52846,63dbe0c8e63e5f1b4deec09d4f044a7f,1,credit_card,24,771.69
55094,fcbb6af360b31b05460c2c8e524588c0,1,credit_card,24,1194.38
60027,ef71772d55431467890fda2f45c7bdde,1,credit_card,24,629.64
63893,d8d5cc8b2d42cce90b7ea35e5691a7b1,1,credit_card,24,599.18
66746,fe808fc011ee4ae41f2ed8d1d52b6670,1,credit_card,24,241.42
82431,1800f4a4362310d7eb38281634f6dfd1,1,credit_card,24,325.37
87593,61450e6c8f56d52e46a198e57df7d731,1,credit_card,24,252.09
90639,d74fca7ee2ce7587c45eefb0fea95ed8,1,credit_card,24,1099.00
102008,f60ce04ff8060152c83c7c97e246d6a8,1,credit_card,24,1440.10
102435,e02d61b42452cc6737650331d8bc8ad7,1,credit_card,24,515.70

In [102]:
items[items['order_id'] == 'b81ef226f3fe1789b1e8b2acac839d17']

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm,shipping_rate($/kg)
80985,b81ef226f3fe1789b1e8b2acac839d17,1,af74cc53dcffc8384b29e7abfa41902b,213b25e6f54661939f11710a6fddb871,2018-05-02 22:15:09,79.8,19.53,home_construction,800.0,17.0,27.0,17.0,24.4125

In [110]:
orders['customer_id'].nunique()

99441

In [118]:
customers[customers['customer_unique_id'] == 'adf36e3db0e3e5d10445060e5d4324b8']

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
28702,35c9380e2703e3ccb9115042c7cb40c2,adf36e3db0e3e5d10445060e5d4324b8,8253,sao paulo,SP

In [119]:
orders[orders['customer_id'] == '35c9380e2703e3ccb9115042c7cb40c2']

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
48202,6081e66cc1fc92a9f303a8f878f5be36,35c9380e2703e3ccb9115042c7cb40c2,processing,2017-03-02 01:33:22,2017-03-02 01:42:03,NaT,NaT,2017-03-22

In [120]:
payments[payments['order_id'] == '6081e66cc1fc92a9f303a8f878f5be36']

,order_id,payment_sequential,payment_type,payment_installments,payment_value
14052,6081e66cc1fc92a9f303a8f878f5be36,1,voucher,1,25.46

In [199]:
df = pd.DataFrame(customers['customer_unique_id'].value_counts())
df[df['count']>1]

                                  count
customer_unique_id
8d50f5eadf50201ccdcedfb9e2ac8455     17
3e43e6105506432c953e165fb2acf44c      9
1b6c7548a2a1f9037c1fd3ddfed95f33      7
ca77025e7201e3b30c44b472ff346268      7
6469f99c1f9dfae7733b25662e7f1782      7
...                                 ...
370cd3b09ea745fe047fd11db7430441      2
d7c6bdf20c4ec9c9cda815dde58e778a      2
a366793a4999f8cc135855c4dd347421      2
156283b6ca35ef976a0265903145fd5e      2
d83257348027bd8c59a228cc034de5e3      2

[2997 rows x 1 columns]

In [133]:
customer_counts = (
    customers.groupby('customer_unique_id')['customer_id']
    .nunique()
    .reset_index(name='num_customer_ids')
    .sort_values('num_customer_ids', ascending=False)
)

print(customer_counts.head(3000))

                     customer_unique_id  num_customer_ids
52973  8d50f5eadf50201ccdcedfb9e2ac8455                17
23472  3e43e6105506432c953e165fb2acf44c                 9
37797  6469f99c1f9dfae7733b25662e7f1782                 7
76082  ca77025e7201e3b30c44b472ff346268                 7
10354  1b6c7548a2a1f9037c1fd3ddfed95f33                 7
...                                 ...               ...
94630  fc19fe9ac733e36ff8227c29435c2030                 2
66387  b08b68bac767c3269e827f822d308182                 2
65416  adfdc84671ccd55dc3c4aa31b363bfb4                 1
65652  ae9ae5072fe8d5b2a1f7072a833f0afc                 1
64300  aaff146bd210808c7d004a05966472a7                 1

[3000 rows x 2 columns]

In [136]:
payments

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45
...,...,...,...,...,...
103881,0406037ad97740d563a178ecc7a2075c,1,boleto,1,363.31
103882,7b905861d7c825891d6347454ea7863f,1,credit_card,2,96.80
103883,32609bbb3dd69b3c066a6860554a77bf,1,credit_card,1,47.77
103884,b8b61059626efa996a60be9bb9320e10,1,credit_card,5,369.54
103885,28bbae6599b09d39ca406b747b6632b1,1,boleto,1,191.58

In [ ]:
payments[(payments['payment_type'] == 'voucher') & (payments['payment_value'] == payments['payment_value'].max())]

Empty DataFrame
Columns: [order_id, payment_sequential, payment_type, payment_installments, payment_value]
Index: []

In [ ]:
payments[(payments['payment_type'] == 'voucher') & (payments['payment_type'] != 0)].sort_values('payment_value', ascending=False)

,order_id,payment_sequential,payment_type,payment_installments,payment_value
78900,03310aa823a66056268a3bab36e827fb,1,voucher,1,3184.34
38429,7813842ae95e8c497fc0233232ae815a,1,voucher,1,3184.34
60252,afb61112fb99b07fe17e591c68c0c84c,1,voucher,1,2266.61
51653,4df2b9c2c7b6eedea39ceb96eb54ad34,1,voucher,1,1839.05
56320,a739bf4717343c5f9c84196b61a9c53f,2,voucher,1,1522.42
...,...,...,...,...,...
19922,8bcbe01d44d147f901cd3192671144db,4,voucher,1,0.00
43744,6ccb433e00daae1283ccc956189c82ae,4,voucher,1,0.00
100766,b23878b3e8eb4d25a158f57d96331b18,4,voucher,1,0.00
62674,45ed6e85398a87c253db47c2d9f48216,3,voucher,1,0.00
36822,fa65dad1b0e818e3ccc5cb0e39231352,14,voucher,1,0.00

In [144]:
payments['payment_value'].max()

np.float64(13664.08)

In [150]:
items[items['product_id'] == 'aca2eb7d00ea1a7b8ebd4e68314663af']

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm,shipping_rate($/kg)
258,00a870c6c06346e85335524935c600c0,1,aca2eb7d00ea1a7b8ebd4e68314663af,955fee9216a65b617aa5c0531780ce60,2018-05-14 00:14:29,69.9,0.00,furniture_decor,2600.0,50.0,10.0,30.0,0.000000
619,016ff85737c2072ab00a705cd8f87799,1,aca2eb7d00ea1a7b8ebd4e68314663af,955fee9216a65b617aa5c0531780ce60,2018-01-09 11:19:25,75.0,20.02,furniture_decor,2600.0,50.0,10.0,30.0,7.700000
643,017b1d6881222283afdc50baf3dcb0d5,1,aca2eb7d00ea1a7b8ebd4e68314663af,955fee9216a65b617aa5c0531780ce60,2018-03-15 02:10:45,69.9,17.40,furniture_decor,2600.0,50.0,10.0,30.0,6.692308
1172,02b939dcd55f2b17680e10690deb08b5,1,aca2eb7d00ea1a7b8ebd4e68314663af,955fee9216a65b617aa5c0531780ce60,2017-08-11 11:30:16,75.0,13.08,furniture_decor,2600.0,50.0,10.0,30.0,5.030769
1173,02b939dcd55f2b17680e10690deb08b5,2,aca2eb7d00ea1a7b8ebd4e68314663af,955fee9216a65b617aa5c0531780ce60,2017-08-11 11:30:16,75.0,13.08,furniture_decor,2600.0,50.0,10.0,30.0,5.030769
...,...,...,...,...,...,...,...,...,...,...,...,...,...
112022,fe7d49cdcf690228d8d476caf24ef2d5,1,aca2eb7d00ea1a7b8ebd4e68314663af,955fee9216a65b617aa5c0531780ce60,2018-01-25 02:12:36,69.9,13.08,furniture_decor,2600.0,50.0,10.0,30.0,5.030769
112027,fe802824215762b3ea5f49760eac0bd4,1,aca2eb7d00ea1a7b8ebd4e68314663af,955fee9216a65b617aa5c0531780ce60,2018-01-16 16:32:35,69.9,19.98,furniture_decor,2600.0,50.0,10.0,30.0,7.684615
112028,fe802824215762b3ea5f49760eac0bd4,2,aca2eb7d00ea1a7b8ebd4e68314663af,955fee9216a65b617aa5c0531780ce60,2018-01-16 16:32:35,69.9,19.98,furniture_decor,2600.0,50.0,10.0,30.0,7.684615
112212,feec317d7127a4dc69cfb507f08c8759,1,aca2eb7d00ea1a7b8ebd4e68314663af,955fee9216a65b617aa5c0531780ce60,2018-03-13 03:50:28,69.9,35.85,furniture_decor,2600.0,50.0,10.0,30.0,13.788462
112427,ff74eadad84626e98512334e5296adeb,1,aca2eb7d00ea1a7b8ebd4e68314663af,955fee9216a65b617aa5c0531780ce60,2018-03-09 20:28:45,69.9,13.08,furniture_decor,2600.0,50.0,10.0,30.0,5.030769

In [151]:
items

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm,shipping_rate($/kg)
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,cool_stuff,650.0,28.0,9.0,14.0,20.446154
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,pet_shop,30000.0,50.0,30.0,40.0,0.664333
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,furniture_decor,3050.0,33.0,13.0,33.0,5.859016
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,perfumery,200.0,16.0,10.0,15.0,63.950000
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,garden_tools,3750.0,35.0,40.0,30.0,4.837333
...,...,...,...,...,...,...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41,housewares,10150.0,89.0,15.0,40.0,4.276847
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53,computers_accessories,8950.0,45.0,26.0,38.0,4.081564
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95,sports_leisure,967.0,21.0,24.0,19.0,17.528438
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72,computers_accessories,100.0,20.0,20.0,20.0,87.200000
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79,bed_bath_table,600.0,30.0,3.0,19.0,21.316667

In [ ]:
orders

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26
...,...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03

In [161]:
pd.DataFrame(items.groupby('order_id')['price'].sum().sort_values(ascending=False))

                                     price
order_id
03caa2c082116e1d31e67e9ae3700499  13440.00
736e1922ae60d0d6a89247b851902527   7160.00
0812eb902a67711a1cb742b3cdaa65ae   6735.00
fefacc66af859508bf1a7934eab1e97f   6729.00
f5136e38d1a14a4dbd87dff67da82701   6499.00
...                                    ...
38bcb524e1c38c2c1b60600a80fc8999      2.90
e8bbc1d69fee39eee4c72cb5c969e39d      2.29
f1d5c2e6867fa93ceee9ef9b34a53cbf      2.20
3ee6513ae7ea23bdfab5b9ab60bffcb5      0.85
6e864b3f0ec71031117ad4cf46b7f2a1      0.85

[97276 rows x 1 columns]

In [162]:
order_totals = items.groupby('order_id')['price'].sum()

mean_order_value = order_totals.mean()
median_order_value = order_totals.median()

print("Mean order value:", mean_order_value)
print("Median order value:", median_order_value)

Mean order value: 137.856968008553
Median order value: 86.8

In [165]:
payments[payments['payment_installments'] == 0]

,order_id,payment_sequential,payment_type,payment_installments,payment_value
46982,744bade1fcf9ff3f31d860ace076d422,2,credit_card,0,58.69
79014,1a57108394169c0b47d8f876acc9ba2d,2,credit_card,0,129.94

In [168]:
payments[payments['payment_sequential'] == 2]

,order_id,payment_sequential,payment_type,payment_installments,payment_value
25,5cfd514482e22bc992e7693f0e3e8df7,2,voucher,1,45.17
75,3689194c14ad4e2e7361ebd1df0e77b0,2,voucher,1,57.53
102,21b8b46679ea6482cbf911d960490048,2,voucher,1,43.12
139,82ffe097d8ddbf319a523b9bbe7725d5,2,voucher,1,30.00
164,487c1451b8fd7347d0e80e5aca887e91,2,voucher,1,30.00
...,...,...,...,...,...
103499,08fa8b49ff198d1332df4668087150ed,2,voucher,1,50.00
103500,71853944ebfe6bd5f5de0302cba14354,2,voucher,1,29.18
103520,e2da042c42ce790c81ef3a9f666a92b6,2,voucher,1,67.33
103732,f0a5b7c94819c69d12a1c0458ec74756,2,voucher,1,80.40
103750,d0bff47153ef056bb4f884a2ec2f0691,2,voucher,1,41.89

In [170]:
payments[payments['order_id'] == '1a57108394169c0b47d8f876acc9ba2d']

,order_id,payment_sequential,payment_type,payment_installments,payment_value
79014,1a57108394169c0b47d8f876acc9ba2d,2,credit_card,0,129.94

In [180]:
#Does the same product get different vouchers from different sellers?
products.columns

Index(['product_id', 'product_category_name', 'product_name_lenght',
       'product_description_lenght', 'product_photos_qty', 'product_weight_g',
       'product_length_cm', 'product_height_cm', 'product_width_cm'],
      dtype='object')

In [184]:
orders

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26
...,...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03

In [185]:
orders['order_purchase_timestamp'].min()

'2016-09-04 21:15:19'

In [186]:
orders['order_purchase_timestamp'].max()

'2018-10-17 17:30:18'

In [193]:
# Step 1: Ensure it's in datetime format
orders['order_purchase_timestamp'] = pd.to_datetime(orders['order_purchase_timestamp'])

# Step 2: Filter orders from November 2016
nov_2016_orders = orders[
    (orders['order_purchase_timestamp'].dt.year == 2016) &
    (orders['order_purchase_timestamp'].dt.month == 12)
]

nov_2016_orders

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
39761,bd50a7fe9fd97ea4b7663031a319e150,0975c3cf2e418ebfa5d1191a2dffd59d,delivered,2016-12-23 23:16:47,2016-12-23 23:31:37,2016-12-27 06:14:27,2016-12-28 15:54:44,2017-01-19

In [200]:
items['price'].max()

np.float64(6735.0)

In [201]:
items['price'].min()

np.float64(0.85)

In [202]:
items['price'].mean()

np.float64(120.7623365091944)

In [203]:
items['price'].median()

np.float64(74.99)

In [204]:
items['price'].mode()

0    59.9
Name: price, dtype: float64

In [209]:
items[items['price']< items['price'].mean()].count()

order_id                 79509
order_item_id            79509
product_id               79509
seller_id                79509
shipping_limit_date      79509
price                    79509
freight_value            79509
product_category_name    79509
product_weight_g         79509
product_length_cm        79509
product_height_cm        79509
product_width_cm         79509
shipping_rate($/kg)      79509
dtype: int64

In [211]:
items.columns

Index(['order_id', 'order_item_id', 'product_id', 'seller_id',
       'shipping_limit_date', 'price', 'freight_value',
       'product_category_name', 'product_weight_g', 'product_length_cm',
       'product_height_cm', 'product_width_cm', 'shipping_rate($/kg)'],
      dtype='object')

In [255]:
items[items['seller_id'] == '6fa9202c10491e472dffd59a3e82b2a3']

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm,actual_kg,volumetric_kg,Chargeable_Weight,freight_rate($/kg)
3303,076d1555fb53a89b0ef4d529e527a0f6,1,a3cd9517ebf5a50dca25acce54f3b171,6fa9202c10491e472dffd59a3e82b2a3,2018-08-07 04:35:22,2338.08,375.28,housewares,30000.0,75.0,58.0,65.0,30.0,56.55,56.55,6.636251
28044,3fde74c28a3d5d618c00f26d51baafa0,1,a3cd9517ebf5a50dca25acce54f3b171,6fa9202c10491e472dffd59a3e82b2a3,2018-08-22 03:15:09,2338.08,375.28,housewares,30000.0,75.0,58.0,65.0,30.0,56.55,56.55,6.636251
105042,eea28d6b80e09bfb00dc1f0640d2de47,1,a3cd9517ebf5a50dca25acce54f3b171,6fa9202c10491e472dffd59a3e82b2a3,2018-08-15 09:05:12,2338.08,174.45,housewares,30000.0,75.0,58.0,65.0,30.0,56.55,56.55,3.084881

In [229]:
orders[(orders['order_id'] == 'eea28d6b80e09bfb00dc1f0640d2de47') | (orders['order_id'] == '3fde74c28a3d5d618c00f26d51baafa0') | (orders['order_id'] == '076d1555fb53a89b0ef4d529e527a0f6')]

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
8349,eea28d6b80e09bfb00dc1f0640d2de47,3696afd6fae4a1f36fcbc3db8f3d6640,delivered,2018-08-09 08:55:38,2018-08-09 09:05:12,2018-08-09 15:57:00,2018-08-15 17:31:48,2018-08-24
75060,076d1555fb53a89b0ef4d529e527a0f6,f08306b95370e8d5f0d97b71229284b6,delivered,2018-07-30 10:04:21,2018-08-01 04:35:22,2018-08-02 15:04:00,2018-08-08 00:46:43,2018-08-14
98355,3fde74c28a3d5d618c00f26d51baafa0,f2c743697f9b2ff2902df23a16582d80,delivered,2018-08-13 14:07:50,2018-08-15 03:15:09,2018-08-15 08:53:00,2018-08-24 00:14:39,2018-09-05

In [232]:
customers[(customers['customer_id'] == '3696afd6fae4a1f36fcbc3db8f3d6640') | (customers['customer_id'] == 'f08306b95370e8d5f0d97b71229284b6') | (customers['customer_id'] == 'f2c743697f9b2ff2902df23a16582d80')]

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
55233,3696afd6fae4a1f36fcbc3db8f3d6640,02ccceb879088a0253e1e46e0200bdb8,16200,birigui,SP
71355,f2c743697f9b2ff2902df23a16582d80,5e92460d739e8dd987e279285a1d278c,88053,florianopolis,SC
73551,f08306b95370e8d5f0d97b71229284b6,f140f377d666848e3712b51a2734d120,87013,maringa,PR

In [252]:
items[items['seller_id'] == '08cdbae123ff67ca4e36d9d641ce0119']

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm,actual_kg,volumetric_kg,Chargeable_Weight
2481,059162a0bf2726c87dd0359eef84c878,1,90c1b4e040d1d1c45897ec2dad4a809d,08cdbae123ff67ca4e36d9d641ce0119,2018-08-03 15:25:15,839.99,174.49,furniture_living_room,30000.0,63.0,63.0,74.0,30.0,58.7412,58.7412
43997,6401cfe160d72392195bd6e311a582cd,1,0db01fdc451cdba4ee06ff86de2885a7,08cdbae123ff67ca4e36d9d641ce0119,2018-03-01 18:07:24,419.00,61.59,furniture_living_room,30000.0,47.0,42.0,74.0,30.0,29.2152,30.0000
63080,9002c87ca6609313fe18204efa2c3a37,1,b6106bf3d09b8fdd33c3a9559da43145,08cdbae123ff67ca4e36d9d641ce0119,2018-02-26 08:31:06,460.00,149.06,furniture_living_room,30000.0,48.0,52.0,75.0,30.0,37.4400,37.4400
91644,cfed507ac357129f750f05a0d7d71b15,1,b6106bf3d09b8fdd33c3a9559da43145,08cdbae123ff67ca4e36d9d641ce0119,2018-03-04 22:10:27,460.00,237.11,furniture_living_room,30000.0,48.0,52.0,75.0,30.0,37.4400,37.4400
91645,cfed507ac357129f750f05a0d7d71b15,2,b6106bf3d09b8fdd33c3a9559da43145,08cdbae123ff67ca4e36d9d641ce0119,2018-03-04 22:10:27,460.00,237.11,furniture_living_room,30000.0,48.0,52.0,75.0,30.0,37.4400,37.4400
91646,cfed507ac357129f750f05a0d7d71b15,3,b6106bf3d09b8fdd33c3a9559da43145,08cdbae123ff67ca4e36d9d641ce0119,2018-03-04 22:10:27,460.00,237.11,furniture_living_room,30000.0,48.0,52.0,75.0,30.0,37.4400,37.4400

In [251]:
sellers[sellers['seller_id'] == '6fa9202c10491e472dffd59a3e82b2a3']

,seller_id,seller_zip_code_prefix,seller_city,seller_state
2836,6fa9202c10491e472dffd59a3e82b2a3,18030,sorocaba,SP

In [253]:
items['freight_rate($/kg)'] = items['freight_value'] / items['Chargeable_Weight']

In [254]:
items

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm,actual_kg,volumetric_kg,Chargeable_Weight,freight_rate($/kg)
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,cool_stuff,650.0,28.0,9.0,14.0,0.650,0.7056,0.7056,18.835034
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,pet_shop,30000.0,50.0,30.0,40.0,30.000,12.0000,30.0000,0.664333
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,furniture_decor,3050.0,33.0,13.0,33.0,3.050,2.8314,3.0500,5.859016
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,perfumery,200.0,16.0,10.0,15.0,0.200,0.4800,0.4800,26.645833
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,garden_tools,3750.0,35.0,40.0,30.0,3.750,8.4000,8.4000,2.159524
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41,housewares,10150.0,89.0,15.0,40.0,10.150,10.6800,10.6800,4.064607
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53,computers_accessories,8950.0,45.0,26.0,38.0,8.950,8.8920,8.9500,4.081564
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95,sports_leisure,967.0,21.0,24.0,19.0,0.967,1.9152,1.9152,8.850251
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72,computers_accessories,100.0,20.0,20.0,20.0,0.100,1.6000,1.6000,5.450000
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79,bed_bath_table,600.0,30.0,3.0,19.0,0.600,0.3420,0.6000,21.316667

In [256]:
items[(items['product_id'] == 'd285360f29ac7fd97640bf0baef03de0') & (items['seller_id'] == '4869f7a5dfa277a7dca6462dcf3b52b2')]

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm,actual_kg,volumetric_kg,Chargeable_Weight,freight_rate($/kg)
6070,0dcaff4e23cee08bff0fe78261d1baaa,1,d285360f29ac7fd97640bf0baef03de0,4869f7a5dfa277a7dca6462dcf3b52b2,2018-03-16 08:31:02,329.0,20.18,watches_gifts,363.0,18.0,13.0,13.0,0.363,0.6084,0.6084,33.168968
6521,0ec21892fbe1319a9e0363cab0066fb0,1,d285360f29ac7fd97640bf0baef03de0,4869f7a5dfa277a7dca6462dcf3b52b2,2018-03-13 16:15:38,329.0,14.74,watches_gifts,363.0,18.0,13.0,13.0,0.363,0.6084,0.6084,24.227482
31703,47e61b8ad8a1bb1dff9371cebc4c0637,1,d285360f29ac7fd97640bf0baef03de0,4869f7a5dfa277a7dca6462dcf3b52b2,2018-02-20 18:55:32,349.0,17.19,watches_gifts,363.0,18.0,13.0,13.0,0.363,0.6084,0.6084,28.254438
33369,4b95757b3269bf34978e04cd3b1cda58,1,d285360f29ac7fd97640bf0baef03de0,4869f7a5dfa277a7dca6462dcf3b52b2,2018-01-30 09:18:27,339.9,17.13,watches_gifts,363.0,18.0,13.0,13.0,0.363,0.6084,0.6084,28.155819
34875,4ef23acabdb7440d19895d1e64443342,1,d285360f29ac7fd97640bf0baef03de0,4869f7a5dfa277a7dca6462dcf3b52b2,2018-05-07 03:15:30,276.0,19.81,watches_gifts,363.0,18.0,13.0,13.0,0.363,0.6084,0.6084,32.560815
41165,5dc6b1dfab4fc8303ea318faec36a73e,1,d285360f29ac7fd97640bf0baef03de0,4869f7a5dfa277a7dca6462dcf3b52b2,2018-02-21 19:15:27,349.0,17.19,watches_gifts,363.0,18.0,13.0,13.0,0.363,0.6084,0.6084,28.254438
46439,6988ade6a7cc2fe8e65c7a1a622fb6c0,1,d285360f29ac7fd97640bf0baef03de0,4869f7a5dfa277a7dca6462dcf3b52b2,2017-11-03 16:08:37,334.9,17.09,watches_gifts,363.0,18.0,13.0,13.0,0.363,0.6084,0.6084,28.090072
52591,77ae79f517b55536c4be2d6953ef30af,1,d285360f29ac7fd97640bf0baef03de0,4869f7a5dfa277a7dca6462dcf3b52b2,2018-05-09 04:30:43,276.0,14.37,watches_gifts,363.0,18.0,13.0,13.0,0.363,0.6084,0.6084,23.619329
60843,8aa9548fa899cb3509257727e76fbfad,1,d285360f29ac7fd97640bf0baef03de0,4869f7a5dfa277a7dca6462dcf3b52b2,2018-03-22 08:31:57,298.0,19.97,watches_gifts,363.0,18.0,13.0,13.0,0.363,0.6084,0.6084,32.823800
76464,ae0b67266fec287e49a6bfa534e52d8c,1,d285360f29ac7fd97640bf0baef03de0,4869f7a5dfa277a7dca6462dcf3b52b2,2018-06-20 02:31:08,299.9,14.76,watches_gifts,363.0,18.0,13.0,13.0,0.363,0.6084,0.6084,24.260355
79034,b3c5a7da42d6a5aeea8dafdaed8048c0,1,d285360f29ac7fd97640bf0baef03de0,4869f7a5dfa277a7dca6462dcf3b52b2,2018-03-21 10:29:35,298.0,19.97,watches_gifts,363.0,18.0,13.0,13.0,0.363,0.6084,0.6084,32.823800
86637,c4cc12e29d292f1e48ab8b20d64d3a4d,1,d285360f29ac7fd97640bf0baef03de0,4869f7a5dfa277a7dca6462dcf3b52b2,2018-03-07 02:48:26,339.0,17.12,watches_gifts,363.0,18.0,13.0,13.0,0.363,0.6084,0.6084,28.139382
110288,fa939fb695a0a458a472916809af767d,1,d285360f29ac7fd97640bf0baef03de0,4869f7a5dfa277a7dca6462dcf3b52b2,2018-03-21 20:48:41,298.0,19.97,watches_gifts,363.0,18.0,13.0,13.0,0.363,0.6084,0.6084,32.823800

In [257]:
items['freight_rate($/kg)'].mean()

np.float64(18.623979774449825)